.navbar-buttons {
  margin-top: 7.5px; }

#search-field {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px; }

.pull-right {
  float: right; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

body, .row {
  color: white;
  background-color: white; }

nav {
  background-color: #A76A00 !important;
  margin-bottom: 0 !important;
  color: white !important;
  border-color: #FFA200; }
  nav .navbar-brand, nav .navbar-header {
    color: white !important; }

.nav-pills li a {
  color: white !important; }

#home-title, h1, h2 {
  text-align: center;
  color: white;
  margin: 0; }

#main-title {
  background-color: #FFA200;
  height: 5em;
  padding: 1em; }

#sub-title {
  background-color: #FFCB70;
  height: 4em;
  padding: 1em; }

.home-link {
  color: white; }

.modal-content {
  color: #FFA200; }

.panel {
  margin: 2em !important;
  border-color: white; }

.panel-title {
  font-size: 2em;
  text-transform: uppercase; }

.panel-heading {
  background-color: #FFDEA4 !important; }

.panel-body {
  background-color: #FFA200 !important; }

.panelBody {
  min-height: 260px;
  width: 100%;
  position: relative; }

.btn-default, #search-field {
  background-color: #FFA200;
  border-color: #FFDEA4;
  color: white !important;
  position: relative; }
  .btn-default:hover, .btn-default:active, .btn-default:focus, #search-field:hover, #search-field:active, #search-field:focus {
    background-color: #FFDEA4;
    color: #FFA200 !important; }

.pollControls, .pollChart {
  display: inline-block; }

.pollControls {
  background-color: #D98A00;
  color: white;
  height: 100%;
  width: 50%;
  padding: 15px;
  position: relative;
  border: 1px solid white;
  border-radius: 5px; }

.description {
  font-size: 1.5em; }

.username {
  font-size: 1.25em; }

.voting-Button {
  min-width: 145px;
  max-width: 100%;
  margin-top: 10px;
  position: relative; }

.owner-buttons {
  margin-top: 15px; }

.pollChart {
  float: right;
  width: 50%;
  display: flex; }

#chart {
  margin: 0 auto; }

.d3-tooltip {
  background-color: #D98A00;
  border: #FFA200;
  border-radius: 3px;
  padding: 5px; }

#search-field::-webkit-input-placeholder {
  color: white; }

#search-field::-moz-placeholder {
  color: white;
  opacity: 1; }

@media (max-width: 590px) {
  .pollControls, .pollChart {
    display: block;
    float: none;
    margin: 0 auto; }
  .pollControls {
    min-width: 75%; } }

@media (max-width: 768px) {
  .navbar-toggle {
    background-color: white; }
  .icon-bar {
    background-color: #FFA200 !important; }
  .nav-pills {
    float: none;
    display: inline-block; }
  .navbar-buttons {
    display: block;
    float: none !important;
    margin-top: 0; }
    .navbar-buttons .navbar-nav {
      margin-left: 5px; }
  #search-field {
    display: inline; }
  form {
    display: block !important;
    margin-bottom: 15px; }
    form input[type=submit] {
      display: inline; } }
