$color-primary-0: #D3FF00	// Main Primary color */
$color-primary-1: #EFFFA4
$color-primary-2: #E6FF70
$color-primary-3: #ADD100
$color-primary-4: #85A100

$color-secondary-1-0: #06D8FF	// Main Secondary color (1) */
$color-secondary-1-1: #A6F1FF
$color-secondary-1-2: #73E9FF
$color-secondary-1-3: #007085
$color-secondary-1-4: #005767

$color-secondary-2-0: #FFA200	// Main Secondary color (2) */
$color-secondary-2-1: #FFDEA4
$color-secondary-2-2: #FFCB70
$color-secondary-2-3: #D98A00
$color-secondary-2-4: #A76A00

$text: white

.navbar-buttons
  margin-top: 7.5px

#search-field
  width: 100px
  margin-left: 5px
  margin-right: 5px

.pull-right
  float: right

.inline
  display: inline

.inline-block
  display: inline-block

body, .row
  color: $text
  background-color: white

nav
  background-color: $color-secondary-2-4 !important
  margin-bottom: 0 !important
  color: white !important
  border-color: $color-secondary-2-0
  .navbar-brand, .navbar-header
    color: $text !important

.nav-pills
  li
    a
      color: white !important

#home-title, h1, h2
  text-align: center
  color: $text
  margin: 0


#main-title
  background-color: $color-secondary-2-0
  height: 5em
  padding: 1em

#sub-title
  background-color: $color-secondary-2-2
  height: 4em
  padding: 1em

.home-link
  color: $text

.modal-content
  color: $color-secondary-2-0

.panel
  margin: 2em !important
  border-color: white

.panel-title
  font-size: 2em
  text-transform: uppercase

.panel-heading
  background-color: $color-secondary-2-1 !important

.panel-body
  background-color: $color-secondary-2-0 !important

.panelBody
  min-height: 260px
  width: 100%
  position: relative

.btn-default, #search-field
  background-color: $color-secondary-2-0
  border-color: $color-secondary-2-1
  color: white !important
  position: relative
  &:hover, &:active, &:focus
    background-color: $color-secondary-2-1
    color: $color-secondary-2-0 !important

.pollControls, .pollChart
  display: inline-block

.pollControls
  background-color: $color-secondary-2-3
  color: white
  height: 100%
  width: 50%
  padding: 15px
  position: relative
  border: 1px solid white
  border-radius: 5px

.description
  font-size: 1.5em

.username
  font-size: 1.25em

.voting-Button
  min-width: 145px
  max-width: 100%
  margin-top: 10px
  position: relative

.owner-buttons
  margin-top: 15px

.pollChart
  float: right
  width: 50%
  display: flex

#chart
  margin: 0 auto

.d3-tooltip
  background-color: $color-secondary-2-3
  border: $color-secondary-2-0
  border-radius: 3px
  padding: 5px

#search-field::-webkit-input-placeholder
    color:    white

#search-field::-moz-placeholder
   color:    white
   opacity:  1

@media (max-width: 590px )
  .pollControls, .pollChart
    display: block
    float: none
    margin: 0 auto

  .pollControls
    min-width: 75%

@media (max-width: 768px)
  .navbar-toggle
    background-color: white
  .icon-bar
    background-color: $color-secondary-2-0 !important
  .nav-pills
    float: none
    display: inline-block
  .navbar-buttons
    display: block
    float: none !important
    margin-top: 0
    .navbar-nav
      margin-left: 5px
  #search-field
    display: inline
  form
    display: block !important
    margin-bottom: 15px
    input[type=submit]
      display: inline


